body {
	background-color:#b6b6b6;
	color: #333333;
	padding-top:5em;
	font-family:Calibri,"Trebuchet MS";
}
ol, ul, .main {
	font-size: 1.25em;
}
.link{
	text-decoration: none;
}
#header {
		background-color:#ff8200;
		height:5.25em;
		width:100%;
		position:fixed;
		left:0em;
		top:0em;
		position: center;
		text-align: center;
		}
.menuitem {
	font-size:1.5em;
	}
.menuitem a {
	color:white;
	text-decoration:none;
	font-family:Calibri,"Trebuchet MS";
	}
.menuitem a:hover {
	color:#58595b;
	text-decoration:none;
	font-family:Calibri,"Trebuchet MS";
}
h1 {
	font-size:2em;
	font-family:Calibri,"Trebuchet MS";
	position: left;
	text-align: left;
	}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#under {
	font-size:2em;
	font-family:Arial;
	font-weight:bold;
	}
#list {
	font-family:Calibri,"Trebuchet MS";
	font-weight:bold;
	font-size:2em;
	}
.social{
	width: 20em;
}
.logo{
	/* text-align: center; */
	width: 5em;
}
.username {
	text-align: left;
}
#dates{
	text-align: left;
}
#dates td {
	padding-left: 1em;
}
#footer {
		background-color: #ff8200;
		color: white;
		width:100%;
		position: bottom;
		position: center;
		left:0em;
		bottom:0em;
		}