body {
	background-color:#b6b6b6;
	color: #333333;
	padding-top:10em;
	font-family:Calibri,"Trebuchet MS";
	position: center;
}

.link{
	text-decoration: none;
}
.top {
		background-color:#ff8200;
		height:5em;
		width:100%;
		position:fixed;
		left:0em;
		top:0em;
		position: center;
		text-align: center;
		font-size: 1.25em;
		}

#links {
	background-color: inherit;
	color: black;
	top: 5em;
	height: 5em;
	font-size: 1em;
	font-family:Calibri,"Trebuchet MS";
}

#links a {
	color: inherit;
	text-decoration:none;
	font-family:Calibri,"Trebuchet MS";
}

.current {
	text-decoration: underline;
}
#links a:hover {
	color:blue;
	text-decoration:none;
	font-family:inherit
}

#refresh {
	font-size: 1.5em;
}